user:
  service:
    url: ${USER_SERVICE_URL}

spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

management:
  server:
    port: 9001
  endpoints:
    web:
      exposure:
        include: health
      base-path: /internal/order-service/actuator
  endpoint:
    health:
      group:
        readiness:
          include:
            - db
        liveness:
          include:
            - ping